<h2>Create a new room</h2>

<form action="/rooms/create" method="post">
    <input type="text" name="name" placeholder="Enter the name of your room">
    <input type="text" name="description" placeholder="Enter a description for your room">
    <input type="text" name="imageUrl" value="https://unsplash.com/it/foto/DyFjxmHt3Es">
    <button type="submit">Create room</button>
</form>